sudo: true

language: cpp

matrix:
  include:
    - os: linux
      dist: xenial
      python: "3.7"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - pkg-config
            - uuid-dev
      env:
        - EVAL="CC=gcc-8 && CXX=g++-8"
        - OSNAME="linux"
    - os: osx
      osx_image: xcode10.2
      python: "3.7"
      env:
        - EVAL=""
        - OSNAME="mac"

before_install:
  - eval "${EVAL}"

script:
  - make prod
  - make test
  - make deploy

deploy:
  provider: releases
  api_key:
    # travis encrypt -r empirical-soft/empirical-lang --pro
    secure: "QRySbvMgYELxj7gaarhgf92qn4Xx0n9jcbCXKp7h+vfrvVRvolJJoa/MOIe+yPxiDQySiwdYhK6ePg1sETDXgSzxNBFiQcYlQHA3LmQ3cHpFq+B4wugNuOYiuIMw3kLfPTB3I9apGWVavWmfSlEb3bOKszkd5mBjzESy3twsKiLFfisYCh75R5C+cOKTC1fh2ShIlki3/OyBPAhwytnrrzieVrwYRw6jYw4wlcHdQXKluW5smw/7Ew9mXdvJfIl/8mUPslJ0lE5dFf2hhWX+Y5LHpI3lOGlPyQZEBalaH6No6EJu5wK56vKbdunWVkkMvlPaU0J3UsimGy8L6Zo94lXa/sKKnFjfemrD0Ta8n5jJWHi4ZXiUEXuBR+GoaRQTr7g/wzX05LWY1CS7h76i18i/+kzeeSmgteUhJotd5U12CbISLl0TUZ4rNfnJjdxmt3h9kBZpzUBCVCYEkTfS0of+3u/L7xU17M+9vbUFVG3x6wr0thwe46Jw0LkA93hmX4gaDNaOt36VZhHwUl/NGXbahzHX39bO1Ka2LxmOdjlInthh5uNgRwHiGMFvlY+j9CTFvuG8MXdDcbablGy+f/djeqYJVNsc1A16bX7ljk7XCXgBehjlClmFjNsvtVPWtBoabpa08KKITc+x3L0G+RDWCj/XXfZizn7TpwDox1o="
  file: "${OSNAME}.zip"
  skip_cleanup: true
  on:
    tags: true
