version: 0.1.{build}

pull_requests:
  do_not_increment_build_number: true

image: Visual Studio 2017

environment:
  PYTHON: C:\Python37-x64

build_script:
  - ps: .\make.bat prod

test_script:
  - ps: .\make.bat test

after_test:
  - ps: .\make.bat deploy

artifacts:
  - path: windows.zip

deploy:
  description: 'Empirical'
  provider: GitHub
  auth_token:
    secure: GC/HoEoXxe2eQrh2NlrTtzGfFoiDNbhzrTp/w0eybbYXi/p4ZGLhtiNEMctEMfE9
  artifact: windows.zip
  on:
    branch: master
    appveyor_repo_tag: true
