name: Empirical

on: [push, pull_request]

env:
  BUILD_TYPE: MinSizeRel

jobs:
  build:
    # comment-out this line to run regression tests on your local repo
    #if: ${{ github.repository_owner == "empirical-soft" }}

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # https://github.com/actions/virtual-environments
        include:
          - name: mac
            os: macos-10.15
            make: make
          - name: linux
            os: ubuntu-16.04
            make: make
            cc: gcc-8
            cxx: g++-8
          - name: windows
            os: windows-2016
            make: .\make.bat

    steps:
      # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell
      - uses: actions/checkout@v2

      - name: Prep
        if: ${{ matrix.name == 'linux' }}
        run: sudo apt-get install uuid-dev

      - name: Build
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: ${{ matrix.make }} prod

      - name: Test
        run: ${{ matrix.make }} test

      - name: Deploy
        run: ${{ matrix.make }} deploy

